# PyCity Schools Analysis
### Pandas Challenge
### Jason Hanlin - Chief Data Scientist, PyCity Schools

Analysis
This challenge took data from two sets of data.  The first included math and reading grades for all high school student data for the entire school district, both district schools and charter schools.  The second set included size and budget for each school.  The goal of this analysis is to determine if there are any correlations between the school characteristics and the math and reading scores.  

Of the close to 40,000 students in the district, 75% are passing math and 86% are passing reading.  But only 65% are passing both.  On average, math scores are about 3 points lower than reading scores.  The total budget for the 15 schools is \\$24.6M. Holden HS, a charter school, has the lowest budget at $248k and Bailey HS, a district school, has the highest budget at \\$3.124M.  However, Bailey is a much bigger school than Holden and per capita budgets will be explored later.  

The top eight perfroming schools are all charter schools while the bottom seven performing schools are all district schools.  The lowest performing school, Rodriguez HS has a passing rate of 53\%, while the top performaing school, Carbrerra HS has a passing rate of 92\%.  While their reading passing rates are relatively close (between 80-84\%), their math scores are the biggest difference with passing scores of 66\% versus 94\%.  

Not much has changed over the last four years since both the math and reading scores are consistently within 1-2 percentage points over the four classes within each school.  

Per capita budgets range from \\$578-\\$655 showing that funding is fairly evenly distributed among schools.  However, a closer look shows that schools with the lowest amount of funding have the highest test scores and passing rates, with scores getting worse as school budgets increase.  Passing rates do not appear to be a function of spending and the opposite appears true.  

Scores stay consistent with small (less than 1000 students) and medium (1000 to 2000 students), however they tend to fall off for large schools (2000 to 5000 students).  Particularly with overall passing rates that drop from 90% to 58% from small/medium to large schools.  

The results from this challenge show that charter schools significantly outperform district schools by about 27, 16, 37 percentage points for math, reading, and overall passing rates, respectively. Charter school status appears to be the biggest indicator of high performing schools with small to medium schools also performing better, but to a lesser degree. 

See detailed results below.

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd

#Apply global formatting to all floats to only show hundredths
pd.options.display.float_format = '{:,.2f}'.format

#Load school and student data sets
schooldata_load = "Resources/schools_complete.csv"
studentdata_load = "Resources/students_complete.csv"

#Read data into pandas DF
schooldata = pd.read_csv(schooldata_load)
studentdata = pd.read_csv(studentdata_load)

#Combine data into a single file; combine on school_name
school_data_full = pd.merge(studentdata, schooldata, how="left", on=["school_name", "school_name"])
school_data_full.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Number of unique schools
total_schools = school_data_full["school_name"].nunique()
print("Total number of schools = ", total_schools)

# Total number of students
total_students = school_data_full["student_name"].count()
print("Total number of students = ", total_students)

# Total budget
total_budget = schooldata["budget"].sum()
print("Total budget for area = ", total_budget)

# Average math score
avg_math_score = school_data_full["math_score"].mean()
print("Average math score = ", avg_math_score)

# Average (mean) reading score
avg_reading_score = school_data_full["reading_score"].mean()
print("Average reading score = ", avg_reading_score)

# Calculate the percentage of students who passed math (greather than or equal to 70)
passing_math_count = school_data_full[(school_data_full["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
print("Percentage of students passing math = ", passing_math_percentage, "%")

# Calculate the percentage of students who passed reading (greather than or equal to 70)
passing_reading_count = school_data_full[(school_data_full["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students) * 100
print("Percentage of students passing reading = ", passing_reading_percentage, "%")

# Calculate the percentage of students that passed both math and reading
passing_math_and_reading_count = school_data_full[
    (school_data_full["math_score"] >= 70) & (school_data_full["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_and_reading_count /  float(total_students) * 100
print("Percentage of students passing math and reading = ", overall_passing_rate, "%")

Total number of schools =  15
Total number of students =  39170
Total budget for area =  24649428
Average math score =  78.98537145774827
Average reading score =  81.87784018381414
Percentage of students passing math =  74.9808526933878 %
Percentage of students passing reading =  85.80546336482001 %
Percentage of students passing math and reading =  65.17232575950983 %

In [3]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
{'Total Schools' : [total_schools],
'Total Students' : [total_students],
'Total Budget' : [total_budget],
'Avg Math Score' : [avg_math_score],
'Avg Reading Score' : [avg_reading_score],
'Math Passing %' : [passing_math_percentage],
'Reading Passing %' : [passing_reading_percentage],
'Overall Passing %' : [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Avg Math Score"] = district_summary["Avg Math Score"].map("{:,.2f}".format)
district_summary["Avg Reading Score"] = district_summary["Avg Reading Score"].map("{:,.2f}".format)
district_summary["Math Passing %"] = district_summary["Math Passing %"].map("{:,.2f}%".format)
district_summary["Reading Passing %"] = district_summary["Reading Passing %"].map("{:,.2f}%".format)
district_summary["Overall Passing %"] = district_summary["Overall Passing %"].map("{:,.2f}%".format)


# Display the DataFrame
district_summary.style.hide_index()

### SCHOOL SUMMARY

In [4]:
# Select the school type
school_type = schooldata.set_index(["school_name"])["type"]

# Calculate the total student count
per_school_counts = school_data_full.groupby(["school_name"]).count()["student_name"]

# Calculate the total school budget and per capita spending
per_school_budget = school_data_full.groupby(["school_name"]).mean()["budget"]
per_student_budget = per_school_budget / per_school_counts

# Calculate the average test scores
per_school_math = school_data_full.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_full.groupby(["school_name"]).mean()["reading_score"]

# Calculate the number of schools with math scores of 70 or higher
school_passing_math = per_school_math[per_school_math >= 70].count()

# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = per_school_reading[per_school_reading >= 70].count()

# Combine school math and reading schools into one dataframe
school_resultsDF = pd.concat([per_school_math,per_school_reading],axis=1)

# Calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = sum((school_resultsDF["math_score"] >= 70) & (school_resultsDF["reading_score"] >= 70))

# Calculate the passing rates
passing_math_count_by_school = school_data_full.groupby('school_name')['math_score'].apply(lambda x: (x>= 70).sum())
per_school_passing_math = passing_math_count_by_school/per_school_counts * 100

passing_reading_count_by_school = school_data_full.groupby('school_name')['reading_score'].apply(lambda x: (x>= 70).sum())
per_school_passing_reading = passing_reading_count_by_school/per_school_counts * 100

passing_math_and_reading = school_data_full[
    (school_data_full["reading_score"] >= 70) & (school_data_full["math_score"] >= 70)
]
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [5]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

# Rename data series name to get proper header
school_type.name="School Type"
per_school_counts.name="Total Students"
per_school_budget.name="Total School Budget"
per_student_budget.name="Per Student Budget"
per_school_math.name="Avg Math Score"
per_school_reading.name="Avg Reading Score"
per_school_passing_math.name="% Passing Math"
per_school_passing_reading.name="% Passing Reading"
overall_passing_rate.name="% Overall Passing"

# Concatonate data series
per_school_summary = pd.concat([school_type, per_school_counts, per_school_budget,per_student_budget, 
                                per_school_math, per_school_reading, per_school_passing_math, per_school_passing_reading,
                                overall_passing_rate
                               ], axis=1)

# Create a copy of the school summary to retain data types before formatting for use later
per_school_summary_formatted = per_school_summary.copy()

# Formatting
per_school_summary_formatted["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary_formatted["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_formatted["Avg Math Score"] = per_school_summary["Avg Math Score"].map("{:,.1f}".format)
per_school_summary_formatted["Avg Reading Score"] = per_school_summary["Avg Reading Score"].map("{:,.1f}".format)
per_school_summary_formatted["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.1f}%".format)
per_school_summary_formatted["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.1f}%".format)
per_school_summary_formatted["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.1f}%".format)

# Display the DataFrame
per_school_summary_formatted

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6,81.2,65.7%,81.3%,53.5%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7,81.2,66.0%,80.7%,53.2%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.4,83.7,93.9%,95.9%,89.9%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3,80.9,66.8%,80.9%,53.5%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4,83.8,93.4%,97.1%,90.6%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3,84.0,93.9%,96.5%,90.6%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1,84.0,94.1%,97.0%,91.3%
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0,81.0,66.7%,81.9%,54.6%
Holden High School,Charter,427,"$248,087.00",$581.00,83.8,83.8,92.5%,96.3%,89.2%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,94.6%,95.9%,90.5%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.7,84.0,93.3%,96.6%,90.3%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8,80.7,66.4%,80.2%,53.0%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1,81.0,66.1%,81.2%,53.5%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1,80.7,68.3%,79.3%,54.3%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4,83.8,93.3%,97.3%,90.9%

## Highest Performing Schools (by % Overall Passing)

In [6]:
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(10)

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"1,081,356.00",582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,"1,043,130.00",638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,"917,500.00",625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,"1,319,574.00",578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"585,858.00",609.00,83.84,84.04,94.59,95.95,90.54
Wright High School,Charter,1800,"1,049,400.00",583.00,83.68,83.95,93.33,96.61,90.33
Shelton High School,Charter,1761,"1,056,600.00",600.00,83.36,83.73,93.87,95.85,89.89
Holden High School,Charter,427,"248,087.00",581.00,83.80,83.81,92.51,96.25,89.23
Bailey High School,District,4976,"3,124,928.00",628.00,77.05,81.03,66.68,81.93,54.64
Ford High School,District,2739,"1,763,916.00",644.00,77.10,80.75,68.31,79.30,54.29

## Bottom Performing Schools (by % Overall Passing)

In [7]:
bottom_schools = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(10)

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"2,547,363.00",637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,"1,884,411.00",639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,"1,910,635.00",655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,"3,022,020.00",652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,"3,094,650.00",650.00,77.07,80.97,66.06,81.22,53.54
Ford High School,District,2739,"1,763,916.00",644.00,77.10,80.75,68.31,79.30,54.29
Bailey High School,District,4976,"3,124,928.00",628.00,77.05,81.03,66.68,81.93,54.64
Holden High School,Charter,427,"248,087.00",581.00,83.80,83.81,92.51,96.25,89.23
Shelton High School,Charter,1761,"1,056,600.00",600.00,83.36,83.73,93.87,95.85,89.89
Wright High School,Charter,1800,"1,049,400.00",583.00,83.68,83.95,93.33,96.61,90.33

## Math Scores by Grade

In [8]:
# Separate the data by grade
ninth_graders = school_data_full[(school_data_full["grade"] == "9th")]
tenth_graders = school_data_full[(school_data_full["grade"] == "10th")]
eleventh_graders = school_data_full[(school_data_full["grade"] == "11th")]
twelfth_graders = school_data_full[(school_data_full["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grade_math_scores = tenth_graders_scores["math_score"]
eleventh_grade_math_scores = eleventh_graders_scores["math_score"]
twelfth_grade_math_scores = twelfth_graders_scores["math_score"]

# Rename data series name to get proper header
ninth_grade_math_scores.name="9th"
tenth_grade_math_scores.name="10th"
eleventh_grade_math_scores.name="11th"
twelfth_grade_math_scores.name="12th"


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.concat([ninth_grade_math_scores, tenth_grade_math_scores,  
                               eleventh_grade_math_scores, twelfth_grade_math_scores], axis=1)


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
print("Math Scores by Grade")
math_scores_by_grade

Math Scores by Grade

                        9th  10th  11th  12th
Bailey High School    77.08 77.00 77.52 76.49
Cabrera High School   83.09 83.15 82.77 83.28
Figueroa High School  76.40 76.54 76.88 77.15
Ford High School      77.36 77.67 76.92 76.18
Griffin High School   82.04 84.23 83.84 83.36
Hernandez High School 77.44 77.34 77.14 77.19
Holden High School    83.79 83.43 85.00 82.86
Huang High School     77.03 75.91 76.45 77.23
Johnson High School   77.19 76.69 77.49 76.86
Pena High School      83.63 83.37 84.33 84.12
Rodriguez High School 76.86 76.61 76.40 77.69
Shelton High School   83.42 82.92 83.38 83.78
Thomas High School    83.59 83.09 83.50 83.50
Wilson High School    83.09 83.72 83.20 83.04
Wright High School    83.26 84.01 83.84 83.64

## Reading Scores by Grade

In [9]:
# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grade_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grade_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grade_reading_scores = twelfth_graders_scores["reading_score"]

# Rename data series name to get proper header
ninth_grade_reading_scores.name="9th"
tenth_grade_reading_scores.name="10th"
eleventh_grade_reading_scores.name="11th"
twelfth_grade_reading_scores.name="12th"


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.concat([ninth_grade_reading_scores, tenth_grade_reading_scores,  
                               eleventh_grade_reading_scores, twelfth_grade_reading_scores], axis=1)


# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
print("Reading Scores by Grade")
reading_scores_by_grade

Reading Scores by Grade

                        9th  10th  11th  12th
Bailey High School    81.30 80.91 80.95 80.91
Cabrera High School   83.68 84.25 83.79 84.29
Figueroa High School  81.20 81.41 80.64 81.38
Ford High School      80.63 81.26 80.40 80.66
Griffin High School   83.37 83.71 84.29 84.01
Hernandez High School 80.87 80.66 81.40 80.86
Holden High School    83.68 83.32 83.82 84.70
Huang High School     81.29 81.51 81.42 80.31
Johnson High School   81.26 80.77 80.62 81.23
Pena High School      83.81 83.61 84.34 84.59
Rodriguez High School 80.99 80.63 80.86 80.38
Shelton High School   84.12 83.44 84.37 82.78
Thomas High School    83.73 84.25 83.59 83.83
Wilson High School    83.94 84.02 83.76 84.32
Wright High School    83.83 83.81 84.16 84.07

## Scores by School Spending

In [10]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# make a copy of the clean school_spending_summary
school_spending_df = per_school_summary.copy()

# Use `pd.cut` to categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(
    school_spending_df["Per Student Budget"], bins = spending_bins,
    labels=spending_labels, right=False)

school_spending_df=school_spending_df.sort_values("school_name")
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"3,124,928.00",628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,1858,"1,081,356.00",582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,2949,"1,884,411.00",639.00,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,2739,"1,763,916.00",644.00,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,1468,"917,500.00",625.00,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,4635,"3,022,020.00",652.00,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,"248,087.00",581.00,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,2917,"1,910,635.00",655.00,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,4761,"3,094,650.00",650.00,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,"585,858.00",609.00,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,3999,"2,547,363.00",637.00,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,1761,"1,056,600.00",600.00,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,1635,"1,043,130.00",638.00,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,2283,"1,319,574.00",578.00,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,1800,"1,049,400.00",583.00,83.68,83.95,93.33,96.61,90.33,<$585

In [11]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Avg Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Avg Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

# Assemble into DataFrame
spending_summary = pd.concat([spending_math_scores, spending_reading_scores, spending_passing_math, 
                               spending_passing_reading, overall_passing_spending], axis=1)


# Display results
spending_summary

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

In [12]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

# make a copy of the clean school_spending_summary
school_spending_school_size = per_school_summary.copy()

school_spending_school_size["School Size"] = pd.cut(
    school_spending_df["Total Students"], bins = size_bins,
    labels=size_labels, right=False)

school_spending_school_size=school_spending_school_size.sort_values("school_name")
school_spending_school_size

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"3,124,928.00",628.00,77.05,81.03,66.68,81.93,54.64,Large (2000-5000)
Cabrera High School,Charter,1858,"1,081,356.00",582.00,83.06,83.98,94.13,97.04,91.33,Medium (1000-2000)
Figueroa High School,District,2949,"1,884,411.00",639.00,76.71,81.16,65.99,80.74,53.20,Large (2000-5000)
Ford High School,District,2739,"1,763,916.00",644.00,77.10,80.75,68.31,79.30,54.29,Large (2000-5000)
Griffin High School,Charter,1468,"917,500.00",625.00,83.35,83.82,93.39,97.14,90.60,Medium (1000-2000)
Hernandez High School,District,4635,"3,022,020.00",652.00,77.29,80.93,66.75,80.86,53.53,Large (2000-5000)
Holden High School,Charter,427,"248,087.00",581.00,83.80,83.81,92.51,96.25,89.23,Small (<1000)
Huang High School,District,2917,"1,910,635.00",655.00,76.63,81.18,65.68,81.32,53.51,Large (2000-5000)
Johnson High School,District,4761,"3,094,650.00",650.00,77.07,80.97,66.06,81.22,53.54,Large (2000-5000)
Pena High School,Charter,962,"585,858.00",609.00,83.84,84.04,94.59,95.95,90.54,Small (<1000)
Rodriguez High School,District,3999,"2,547,363.00",637.00,76.84,80.74,66.37,80.22,52.99,Large (2000-5000)
Shelton High School,Charter,1761,"1,056,600.00",600.00,83.36,83.73,93.87,95.85,89.89,Medium (1000-2000)
Thomas High School,Charter,1635,"1,043,130.00",638.00,83.42,83.85,93.27,97.31,90.95,Medium (1000-2000)
Wilson High School,Charter,2283,"1,319,574.00",578.00,83.27,83.99,93.87,96.54,90.58,Large (2000-5000)
Wright High School,Charter,1800,"1,049,400.00",583.00,83.68,83.95,93.33,96.61,90.33,Medium (1000-2000)

In [13]:
# Calculate averages for the desired columns. 
size_math_scores = school_spending_school_size.groupby(["School Size"]).mean()["Avg Math Score"]
size_reading_scores = school_spending_school_size.groupby(["School Size"]).mean()["Avg Reading Score"]
size_passing_math = school_spending_school_size.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_spending_school_size.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_spending_school_size.groupby(["School Size"]).mean()["% Overall Passing"]

# Assemble into DataFrame
size_summary = pd.concat([size_math_scores, size_reading_scores, size_passing_math, 
                               size_passing_reading, size_overall_passing], axis=1)


# Display results
size_summary

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.29

## Scores by School Type

In [14]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Avg Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Avg Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

# Assemble into DataFrame
type_summary = pd.concat([type_math_scores, type_reading_scores, type_passing_math, 
                               type_passing_reading, type_overall_passing], axis=1)

type_summary

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67